<div class="content-contact">
    <div class="contact">
        <div class="img">
            <img src="../../../assets/img/damianB.jpg" alt="Damian Almada">
        </div>
        <div class="info">
            <h2>Damian Almada</h2>
            <h3>Junior Web Developer</h3>
        </div>
    </div>

    <footer>
        <div class="redes-sociales">
            <div>
                <i class="far fa-envelope"></i>
                <a href="#">damiianalmada06@gmail.com</a>
            </div>
            <div>
                <i class="fab fa-instagram"></i>
                <a href="https://www.instagram.com/damiian_al/">@damiian_al</a>
            </div>
            <div class="curriculum"><a href="https://damianar.herokuapp.com/index.html#menu">Portafolio</a></div>
        </div>
    </footer>
</div>