<section id="sobre-nosotros" class="other-sections">
  <h3 class="super-titles">CONTACTOS</h3>
  <div class="errorMessages" [ngClass]="{'DivError': resultSendMail == false}">{{Message}}</div>
  <div class="errorMessages" [ngClass]="{'DivCorrecto': resultSendMail == true}">{{Message}}</div>
  <div class="errorMessages" [ngClass]="{'DivCorrecto': enviando == true}" *ngIf="enviando">Enviando...</div>
  <form #formSendEmail="ngForm" (ngSubmit)="SendEmail(formSendEmail)">

    <input
      type="email"
      placeholder="Ingresa tu Correo"
      name="mailUser"
      [(ngModel)]="_sendMail.formSendMail.mailUser"
      required
    />

    <input
      type="text"
      placeholder="Ingresa tu comentario"
      name="message"
      [(ngModel)]="_sendMail.formSendMail.message"
      required
    />

    <button type="submit" id="sendInfo">Send Info</button>
    <button (click)="reset(formSendEmail)">Clear</button>
  </form>
</section>
