<section id="sobre-nosotros" class="other-sections">
    <h3 class="super-titles">SOBRE NOSOTROS</h3>
    <p>
        <span>JAUMINA FOOD</span> es un moderno, pulcro y elegante RESTAURANTE, ofrece a sus clientes diferentes menus, con la distincion de que se preparan con alimentos saludables y de <span>Calidad Internacional.</span><br>
        
        Disponemos de salones privados, donde podrá celebrar sus acontecimientos familiares mas especiales y de empresa.
        
        Además de nuestra carta muy variada, que destaca por sus productos frescos, en esta variada seleccion se resalta las comidas <span>PARAGUAYAS</span> que no pueden faltar en una gran celebracion. <br>
        
        ​Todos los fines de semana ofrecemos un menú especial a partir de 30.000 gs. SI, ASI ES, 30.000 gs por plato de buena calidad y exquisita preparacion. <br>
        
        Especial bodas
        Solicite fechas disponibles y benefíciese de nuestras promociones especiales para estas fechas. <br>
        
        No duden en ponerse en contacto con nosotros para solicitar cualquier tipo de información. <br> <span>Puede hacerlo a travez de estos numeros de WhatsApp.</span> <br>
        
        0982-123-456 / 0982-123-456 <br>
        
        <span>Horario</span> <br>
        Lunes a Viernes de 10 a 16hs.
    </p>
    <div [routerLink]= "['/beneficios']" (click)="DoTopWindows()">Beneficios</div>
</section>