<section id="sobre-nosotros" class="other-sections">
  <h3 class="super-titles">BENEFICIOS</h3>
  <p>
    Para iniciar con esta primera parte, debemos viajar en el tiempo y entender
    el origen de los restaurantes. Antes, los restaurantes eran más conocidos
    como tabernas, cantinas o posadas las cuales nacieron en la era Romana,
    donde los viajeros y comerciantes podían descansar, beber y comer. Es decir,
    los primeros restaurantes se dedicaban a restaurar las personas.<br />

    La necesidad de comer e hidratarse. Si les compartimos este dato es porque
    en el pasado, los restaurantes eran principalmente creados para cumplir con
    las necesidades fisiológicas de las personas que viajaban entre ciudades. Es
    decir que cumplían con la primera escala de necesidades de la pirámide de
    Maslow, pero también con la segunda escala ya que gran parte de estos
    lugares también ofrecían hospedaje. Es decir, un lugar donde dormir
    protegido y sentirse seguro. Si volvemos al presente y analizamos nuestra
    industria, podemos todavía identificar varios destinos que siguen cumpliendo
    puntualmente con estas necesidades. Por ejemplo, los estaderos
    tradicionales, o hasta los pequeños restaurantes que ofrecen menús del día
    para los trabajadores que trabajan en la zona. Son generalmente negocios que
    compiten con precio y cantidad en lugar de crear experiencias y por lo tanto
    que no recurren a grandes estrategias de marketing para atraer cliente. De
    hecho, por suplir una necesidad fisiológica, estos restaurantes dependen
    principalmente de su ubicación ya que las personas comen por practicidad y
    conveniencia. <br />
  </p>
  <div [routerLink]="['/beneficios']">Beneficios</div>
</section>
