<main class="content-home">
    <img class="content-home-background" src="../../../assets/img/fondo.jpg" alt="">
    <header>
        <div class="text-home">
            <div class="text">
                <h2>Somos los que de verdad, entienden de delicias en <span>Paraguay</span></h2>
            </div>
        </div>
        <div class="img-home">
            <div class="img">
                <img src="../../assets/img/food.jpg" alt="">
            </div>
        </div>
    </header>
</main>
<app-servicios></app-servicios>
