:root{
    --titlePrincipal: 'Dancing Script', cursive;
    --subTitle: 'Recursive', sans-serif;
    --subrayado: rgba(241, 196, 15, 1.0);
    --titleColor: black;
    --subTitleColor: rgb(114, 19, 19);
    --fondoBlanco: rgba(255, 255, 255, 0.8)
}
/*reset*/
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

/*estilos generales*/
body{
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow-y: scroll;
    font-family: 'Merriweather', serif;
}

.icon-menu{
    z-index: 99;
    font-size: 2.5em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: transparent;
}
span{
    color: rgb(1, 216, 1);
}
a{
    text-decoration: none;
    color: white;
}
button{
    cursor: pointer;
}
.super-titles{
    font-size: 2.9em;
    text-align: center;
    color: green;
}
.contentAll{
    position: absolute;
    top: 0;
    width: 100%;
}

nav{
    width: 100%;
    height: 350px;
    padding-top: 65px;
    background-color: rgb(48, 48, 48);
    position: relative;
    transform: translateY(-500px);
}
.mostrar{
    transform: translateY(0);
    transition: .2s linear;
    z-index: 80;
}
nav .menu{
    width: 90%;
    margin: auto;
}
nav .menu ul li{
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 2em;
    border-bottom: 1px solid black;
}
nav .menu ul li:hover{
    color: white;
    background-color: black;
}


main{
    width: 100%;
    height: 100vh;
    background: transparent;
    position: relative;
    clip-path: polygon(100% 0, 100% 84%, 50% 100%, 0 84%, 0 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .content-home-background{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
}
main header{
    width: 90%;
    margin-left: 5%;
    background-color: transparent;
    z-index: 9;
    position: relative;
}
main header .text-home{
    width: 100%;
    margin-top: 60px;
    font-size: 2.5em;
    background-color: transparent;
    text-align: center;
    color: rgb(187, 187, 187);
}
main header .img-home{
    width: 250px;
    height: 250px;
    margin: 20px auto;
    background-color: transparent;
}
main header .img-home .img{
    width: 100%;
    height: 100%;
    overflow: hidden; 
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgb(252, 252, 252);
    animation: imgGiro 40s linear infinite;
}
main header .img-home .img img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform: scale(1.5);
}


.content-servicios{
    width: 100%;
    height: auto;
    background-color: transparent;
    position: relative;
}
.content-servicios .servicios-menuDelDia{
    width: 90%;
    margin-left: 5%;
    background-color: transparent;
}
.servicios-titles{
    font-size: 1.8em;
    text-align: center;
    margin-top: 10px;
}
.content-servicios .servicios-menuDelDia .menuDelDia{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.content-servicios .servicios-menuDelDia .menuDelDia .menus{
    background-image: url("../img/mesita.jpg");
    overflow: hidden;
    box-shadow: 2px 5px 5px rgb(114, 114, 114);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr;
}
.content-servicios .servicios-menuDelDia .menuDelDia .menus img{
    background-size: cover;
    max-width: 100%;
    height: 200px;
    margin: auto;
}
.content-servicios .servicios-menuDelDia .menuDelDia .menus div{
    height: 50px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 3.5em;
    font-family: 'Indie Flower', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-servicios .servicios-menuDelDia .menuDelDia .menus div.descripcion .pedir{
    width: 100%;
    background: green;
    cursor: pointer;
}




.content-servicios .servicios-otrosMenus{
    width: 90%;
    margin-left: 5%;
    background-color: transparent;
}
.content-servicios .servicios-otrosMenus .otrosMenus{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.content-servicios .servicios-otrosMenus .otrosMenus .menus{
    background: transparent;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(172, 172, 172);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr;
}
.content-servicios .servicios-otrosMenus .otrosMenus .menus img{
    background-size: cover;
    max-width: 100%;
    height: 200px;
    margin: auto;
}
.content-servicios .servicios-otrosMenus .otrosMenus .menus .title-otrosMenus{
    text-align: left;
    font-size: 3em;
    font-weight: 500;
    padding-left: 10px;
    font-family: 'Indie Flower', cursive;
    background: green;
    color: white;
}
.content-servicios .servicios-otrosMenus .otrosMenus .menus div.descripcion{
    width: 100%;
    background: transparent;
    cursor: pointer;
}
.menus div.descripcion button{
    padding: 15px;
    color: white;
    background: green;
    border: none;
    border-radius: 2px;
}
.menus div.descripcion input{
    padding: 15px;
    width: 20px;
}
.menus .descripcion .precio{
    text-align: left;
    font-size: 2.5em;
    font-weight: 500;
    padding-left: 10px;
    font-family: 'Indie Flower', cursive;
    color: green;
}


.other-sections{
    width: calc(90% - 20px);
    max-width: 1000px;
    margin: auto;
    background-image: url("../img/restaurant2.jpg");
    background-repeat: repeat-y;
    object-fit: cover;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 40px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(97, 97, 97);
}
.other-sections p{
    font-size: 2em;
    text-align: justify;
    margin-top: 80px;
    font-weight: 200;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 0 40px 0;
}
br{
    margin-top: 50px;
}
.other-sections div{
    border: 1px solid yellow;
    width: 150px;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    font-size: 2em;
    text-align: center;
    box-shadow: 0px 0px 5px black;
    color: white;
    cursor: pointer;
}
.other-sections div:hover{
    border: 2px solid yellow;
    transition: 0.2s;
}







@media only screen and (min-width: 600px) {
    .content-servicios .servicios-menuDelDia{
        width: 90%;
        max-width: 1000px;
        margin: auto;
        background-color: transparent;
    }
    .content-servicios .servicios-otrosMenus{
        width: 90%;
        max-width: 1000px;
        margin: auto;
        background-color: transparent;
    }
    .content-servicios .servicios-menuDelDia .menuDelDia{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .content-servicios .servicios-menuDelDia .menuDelDia .menus:last-child {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 600px;
        margin: auto;
    }
    .content-servicios .servicios-otrosMenus .otrosMenus{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .content-servicios .servicios-otrosMenus .otrosMenus .menus:last-child {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 600px;
        margin: auto;
    }
    .menus div.descripcion input{
        padding: 15px;
        width: 40px;
    }
  }





/*animaciones*/
/*menu*/
@keyframes imgGiro {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
