<section id="sobre-nosotros" class="other-sections">
    <h3 class="super-titles">PRODUCTOS CON EL QUE TRABAJAMOS</h3>
    <p>
        Risotto, espaguetis, lasaña, pizza, macarrones, canelones, capresse, salsa boloñesa, pesto, carbonara y cuatro quesos, tortellini, carpaccio, raviolis, tallarines… No podemos negarlo, nos encantan los productos Italianos. <br/>

        Ya sea por su semejanza en ingredientes con nuestra soberbia gastronomía o por su marcado carácter elegante y tradicional, los productos italianos son un elemento insustituible en la hostelería Paraguaya. Es difícil encontrar una sola calle o avenida sin un establecimiento en el que no cuelgue el cartel de “Ristorante” o, al menos, que no cuente con algo de pasta italiana en su carta.<br/>
        
        Con una competencia tan alta, se hace indispensable para cualquier restaurante que ofrezca comida italiana en su carta diferenciarse del resto. ¡Y qué mejor forma de hacerlo que con auténticos productos italianos y Paraguayo en la carta!
    </p> 
    <div [routerLink]="['/contactos']" (click)="DoTopWindows()">Con quien trabajamos?</div>
  </section>