<nav class="header"  [ngClass]="{'mostrar': btnStatus == true}">
  <div class="menu">
    <ul (click)='exitMenu()'>
      <li [routerLink]= "['/home']" [routerLinkActive]="['actived']"><a >Menu</a></li>
      <li [routerLink]= "['/popular']" [routerLinkActive]="['actived']"><a>Nosotros</a></li>
      <li class="logo"><h1>Ja'umina Food</h1></li>
      <li [routerLink]= "['/tutorial']" [routerLinkActive]="['actived']"><a>Beneficios</a></li>
      <li [routerLink]= "['/contacto']" [routerLinkActive]="['actived']"><a>Con quienes trabajamos?</a></li>
      <li [routerLink]= "['/contacto']" [routerLinkActive]="['actived']"><a>Contactos</a></li>
    </ul>
  </div>
</nav>

<div class="icon-menu" (click)= 'statusBtn()'>
  <i class="fas fa-bars"></i>
</div>


<div class="contentAll">
  <router-outlet></router-outlet>
</div>

