<nav class="header"  [ngClass]="{'showMenu': btnStatus == true}">
  <div class="menu">
    <ul (click)='exitMenu()'>
      <li [routerLink]= "['/home']" [routerLinkActive]="['actived']"><a >home</a></li>
      <li [routerLink]= "['/popular']" [routerLinkActive]="['actived']"><a>popular</a></li>
      <li class="logo">D</li>
      <li [routerLink]= "['/tutorial']" [routerLinkActive]="['actived']"><a>tutorial</a></li>
      <li [routerLink]= "['/contacto']" [routerLinkActive]="['actived']"><a>contacto</a></li>
    </ul>
  </div>
</nav>

<div class="icon-menu" (click)= 'statusBtn()'>
  <i class="fas fa-bars"></i>
</div>


<div class="contentAll">
  <router-outlet></router-outlet>
</div>

