<div class="content-popular" [ngClass]="{'absolute-popular': btnEjopy == true}">
    <!--es para poner en absolute el display que estaba en fixed, todo esto al presionar el boton y entonces se pone en true (esta clase se hara si el boton ejopy esta en true-->
    <div class="principal-popular">
        <div class="text-popular">
            <h2>Comidas Populares</h2>
        </div>
    </div>
    <div class="foods" [ngClass]="{'showFoods': btnEjopy == true}">
        <div class="content-subtext">
            <div class="title">
                <h2>Mbeju</h2>
            </div>
            <div class="img">
                <img src="../../assets/img/mbeju.jpg" alt="">
            </div>
            <div id="mbeju" class="subtext">
                <h3>El mbeyú (pronunciado igual que en castellano aunque escrito "mbeju" en idioma guaraní moderno). Es herencia de la cocina de origen guaraní-español jesuita, y es tradicional de la gastronomía deParaguay y del Noreste argentino.​ Se trata de una especie de panqueque de almidón de mandioca y queso fresco. Existe un símil hecho en Brasil llamado beiyú.</h3>
            </div>
            
            <div class="title">
                <h2>Chipa</h2>
            </div>
            <div class="img">
                <img src="../../assets/img/chipa.jpg" alt="">
            </div>
            <div id="chipa" class="subtext">
                <h3>La Chipa o el Chipá (del idioma guaraní: chipa, pronunciado "chipá" -en algunas regiones de la Argentina- puesto que en ese idioma las palabras sin tilde se presumen agudas) es un panificado hecho a base de almidón de mandioca y queso semiduro, más otros ingredientes. Es herencia de la cocina de origen guaraní-español jesuita, y es tradicional de la gastronomía de Paraguay​ y del Noreste argentino​. También se consume normalmente en el suroeste brasileño (zona también de misiones jesuíticas-guaraníes), donde se lo suele llamar "pão de queijo" (‘pan de queso’). </h3>
            </div>


            <div class="title">
                <h2>Vori Vori</h2>
            </div>
            <div class="img">
                <img src="../../assets/img/vori.jpg" alt="">
            </div>
            <div id="bori-bori" class="subtext">
                <h3>El vorí vorí o borí borí es un plato típico del Paraguay 1​ El vorí vorí se trata básicamente de un caldo espeso en el que se encuentran dispuestas pequeñas bolas de harina de maíz y queso. </h3>
            </div>


            <div class="title">
                <h2>Chipa So`o</h2>
            </div>
            <div class="img">
                <img src="../../assets/img/chipas.jpg" alt="">
            </div>
            <div id="chipa so" class="subtext">
                <h3>La chipa so'o o chipá relleno con carne es una masa de almidón de mandioca rellena de una carne sazonada. Es propia y típica de las gastronomías del Paraguay y del Noreste de Argentina. Es herencia de la cocina de origen guaraní-español jesuita. </h3>
            </div>

        </div>
    </div>
    <div class="content-button" >
        <div class="button" [ngClass]="{'topButton': btnEjopy == true}" >
            <p (click)='ejopyStatus()'>Ejopy :)</p>
        </div>
    </div>
</div>
